<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>Burgers</title>
</head>

<body>

    {{{body}}}

</body>
<script>

    $(".create-form").on("submit", function (event) {
        event.preventDefault();

        var newBurger = {
            burger_name: $("#newBurger").val().trim()
        };

        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
                console.log("Created a new burger.");
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });

    $(".devourbtn").on("click", function (event) {
        var id = $(this).data("id")
        var changeBurger = {
            devoured: 0
        };
        $.ajax("/api/burgers/" + id, {
            type: "PUT",
            data: changeBurger
        }).then(
            function () {
                console.log("Burger Devoured");
                location.reload();
            }
        );
    });
</script>


</html>